{% extends 'base/base.html' %}

{% block content %}

<h1 class="pull-right">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <h3> Listado de Ventas</h3>
        </div>
        <div class="col-3"></div>
        <div class="col-3">
            <a href="{% url 'ventas:ventaCreate' %}" class="btn btn-primary"> Adicionar <i class="fa-solid fa-circle-plus"></i></a>
        </div>
    </div>
</h1>

<table class="table table-primary table-hover">
    <thead>
      <tr class="table-info" class="d-flex justify-content-center" >
        <th scope="col" class= "text-center">Id</th>
        <th scope="col" class= "text-center">Fecha</th>
        <th scope="col" class= "text-center">Valor Total</th>
        <th scope="col" class= "text-center">Tipo de Pago</th>
        <th scope="col" class= "text-center">Usuario</th>
        <th scope="col" class= "text-center">Vehiculo</th>
        <th scope="col" class= "text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
     {% if ventas %}
        {% for venta in ventas %}
            <tr>
                <td class= "text-center">{{ venta.id}}</td>
                <td class= "text-center">{{ venta.fecha}}</td>
                <td class= "text-center">{{ venta.ValorTotal}}</td>
                <td class= "text-center">{{ venta.tipoPago}}</td>               
                <td class= "text-center">{{ venta.user}}</td>                  
                <td class= "text-center">{{ venta.vehiculo.all.0}}</td>                  
                <td class="d-flex justify-content-center">
                <a href="{% url 'ventas:ventaEdit' venta.id %}" class="btn btn-primary btn-xs">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a href="{% url 'ventas:ventaEliminar' venta.id %}" class="btn btn-info btn-xs">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
                </td>
            </tr>
        {% endfor %}
      {% else %}
            <h3> ¡Lista Vacía!: No existen registros</h3>
        {%endif%}
    
    </tbody>
  </table>
{% endblock %}